# Python
__pycache__/
*.py[cod]
.venv/
.env

# Node
node_modules/
dist/
*.local

# ML Models & Data
backend/ml_models/*.pkl
backend/data/*.csv
!backend/data/student_data.csv

# IDEs
.vscode/
.idea/
.DS_Store